  <div class="large-12 columns format">{{name}}
    <form class="custom">
      <fieldset>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Select Month</label>
            </div>
            <div class="small-4 columns pull-5">
                <select id="" class="">

                  <option></option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Select Year</label>
            </div>
            <div class="small-4 columns pull-5">
                <select id="" class="">

                  <option></option>
                  <option>2013</option>
                  

                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <span class="button small">view</span>
          <span class="button  secondary small">Cancel</span>
        </div>
      </fieldset>
    </form>
  </div>

