



<div class="large-12 columns format">
  <br>
  <h2>Add Coupons</h2>
  <form>
  <fieldset>
   

    <div class="row">
      <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Code</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="coupon.code">
            </div>
          </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Remaining User</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="coupon.remaininguses">
            </div>
          </div>
      </div>
      <div class="row">
      <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Max Tracks</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="coupon.maxtracks">
            </div>
          </div>
      </div>
      <div class="row">
        <button class="button small" ng-click="add(coupon)">Add</button>
      </div>
  </fieldset>
</form>
</div>

