
  <div class="large-12 columns format">
    <br>
  <h2>Add Delivery Style</h2>
    <form>
      <fieldset>

        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">Delivery Style</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="dstyle" ng-model="style.name">
            </div>
          </div>
        </div>
        <div class="row">
        <button class="button small" ng-click="add(style)">Add</button>
      </div>
      </fieldset>
    </form>
  </div>
