<div class="large-12 columns format">
    <br>
  <h2>ImageQuick Diff</h2>
    <form>
      <fieldset>
      <div class="row">
          <div class="small-12 columns">
            <div class="small-4 columns ">
             <input class="in" type="file" id="dstyle" >
            </div>
            <div class="small-4 columns pull-2">
              <a class="button small ">Upload</a>
            </div>
            <div class="small-4 columns pull-4">
            <a class="button small" style="width:100px">Compare</a>
            </div>
          </div>
        </div>
        
      <div class="row">
        <table class="large-12 columns" >
        <thead style="background-color:rgb(223, 3, 3)">  
        <tr>
                <th>Addition</th>
                
            </tr> 
        </thead>
        </table>
        <table class="large-12 columns">
            <thead>
            <tr>
                <th>Filename</th>
                <th>Format</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td>LUKE BRYAN_Thats My Kind Of Night</td>
               
                <td>CITY</td>
                <td>recorrent</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="large-12 columns" >
        <thead style="background-color:#159E02">  
        <tr>
                <th>Changes</th>
                
            </tr> 
        </thead>
        </table>
        <table class="large-12 columns">
            <thead>
            <tr>
                <th>Filename</th>
                <th>Format</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td>LUKE BRYAN_Thats My Kind Of Night</td>
               
                <td>CITY</td>
                <td>recorrent</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="large-12 columns" >
        <thead style="background-color:#2284a1">  
        <tr>
                <th>Removed</th>
                
            </tr> 
        </thead>
        </table>
        <table class="large-12 columns">
            <thead>
            <tr>
                <th>Filename</th>
                <th>Format</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td>LUKE BRYAN_Thats My Kind Of Night</td>
               
                <td>CITY</td>
                <td>recorrent</td>
            </tr>
            </tbody>
        </table>
    </div>
      </fieldset>
    </form>
  </div>