



  <div class="large-12 columns format">
    <form>
      <fieldset>


        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">Industry Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="iname">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">Real Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="rname">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            
            <div class="small-3 columns push-1">
              <label>Associated Voices</label>
            </div>
            <div class="stwo columns pul">
                <label ng-repeat="voice in voices" for="checkbox1"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp;&nbsp;{{voice}}</label>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row">
          <span class="button small">Add</span>
        </div>
      </fieldset>
    </form>
  </div>


 