



  <div class="large-12 columns format">
    <form>
      <fieldset>


        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">Industry Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="iname">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">Real Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="rname">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            
            <div class="small-3 columns push-1">
              <label>Associated Voices</label>
            </div>
            <div class="stwo columns pul">
              <label for="checkbox1"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspSam</label>
              <label for="checkbox2"><input type="checkbox" id="" ><span class="checkbox"></span>&nbsp&nbspGary</label>
              <label for="checkbox3"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbspLisa</label>
              <label for="checkbox4"><input type="checkbox" id=""><span class="custom checkbox"></span>&nbsp&nbspsteve</label>
              <label for="checkbox5"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspmike</label>
              <label for="checkbox6"><input type="checkbox" id=""></input><span class="custom checkbox"></span>&nbsp&nbspAlex</label>
              <label for="checkbox7"><input type="checkbox" id=""></input><span class="custom checkbox"></span>&nbsp&nbspSassy</label>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row">
          <span class="button small">Add</span>
        </div>
      </fieldset>
    </form>
  </div>


 