



  <div class="large-12 columns format">
    <br>
  <h2>Add Format</h2>
    <form>
      <fieldset>


        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">Industry Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="iname" ng-model="format.name">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">Real Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="rname" ng-model="format.realName">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            
            <div class="small-3 columns push-1">
              <label>Associated Voices</label>
            </div>
            <div class="small-8 columns pull-1">
                <label ng-repeat="voice in voices" ><div class="small-4 columns"><input type="checkbox" id="" ng-model="value" ng-click="select_voice(voice,value)"><span class="custom checkbox"></span>&nbsp;&nbsp;{{voice.name}}</div></label>
            </div>
          </div>
        </div>
         <div class="row">
        <button class="button small" ng-click="add(format)">Add</button>
      </div>
      </fieldset>
    </form>
  </div>


 