



  <div class="large-12 columns format">
    <br>
  <h2>Add Frequency</h2>
    <form>
      <fieldset>

        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">Frequency</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="foname" ng-model="frequency.frequency">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">File Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="foname" ng-model="frequency.filename">
            </div>
          </div>
        </div>
        <div class="row">
        <button class="button small" ng-click="add(frequency)">Add</button>
      </div>
      </fieldset>
    </form>
  </div>


 