



  <div class="large-12 columns format">
    <form class="custom">
      <fieldset>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Hook</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Select Format</label>
            </div>
            <div class="small-4 columns pull-5">
                <select id="" class="">

                  <option></option>
                  <option>HAC</option>
                  <option>CTY</option>
                  <option>RCK</option>
                  <option>ALT</option>
                  <option>VARITY</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Select Category</label>
            </div>
            <div class="small-4 columns pull-5">
                <select id="" class="">

                  <option></option>
                  <option>current</option>
                  <option>recurrent</option>
                  <option>gold</option>
                  <option>special</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Normal Length</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="fname">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">VoiceOver Length</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="fname">
            </div>
          </div>
        </div>
        <div class="row">
          <span class="button small">Add</span>
        </div>
      </fieldset>
    </form>
  </div>


  