



  <div class="large-12 columns format">
    <br>
  <h2>Add Hooktemplate</h2>
    <form class="">
      <fieldset>


        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class=" inline">Template Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="hooktemp.name">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class=" inline">File Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="hooktemp.filename1">
            </div>
          </div>
        </div>
        

        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class=" inline">Producer</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="hooktemp.producer">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class=" inline">Price</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="hooktemp.price">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label>Available formates</label>
            </div>
            <div class="small-8 columns pull-1">
              <label ng-repeat="format in formats" ><div class="small-4 columns"><input type="checkbox" id="" ng-model="value" ng-click="select_format(format,value)"><span class="custom checkbox"></span>&nbsp;&nbsp;{{format.name}}</div></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <h6 class="push-1">SLOGAN DETAILS</h6>
            <div class="small-3 columns push-1">
              <label>Associated Voices</label>
            </div>
            <div class="small-8 columns pull-1">
              <label ng-repeat="voice in voices" ><div class="small-4 columns"><input type="checkbox" id="" ng-model="value1" ng-click="select_posvoice(voice,value1)"><span class="custom checkbox"></span>&nbsp;&nbsp;{{voice.name}}</div></label>
              <p></p>
            </div>
          </div>
        </div>
        
         <div class="row">
          <div class="small-12 columns">
            <div class="small-2 columns push-1">
              <label>Delay/Cue</label>
              </div>
              <div class="stwo columns pul">
                <input type="text" class="in" id="delay" ng-model="hooktemp.posCue">
                

             </div>
            </div>
          </div>
          <div class="row">
          <div class="small-12 columns">
            <div class="small-2 columns push-1">
              <label>Associated Style</label>
              </div>
              <div class="small-8 columns pull-1">
               <label ng-repeat="style in styles" ><div class="small-4 columns"><input type="checkbox" id="" ng-model="value2" ng-click="select_posstyle(style,value2)"><span class="custom checkbox"></span>&nbsp;&nbsp;{{style.name}}</div></label>
              <p></p>
                

             </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <h6 class="push-1">STATION DETAILS</h6>
              <div class="small-3 columns push-1">
                <label>Associated Voices</label>
              </div>
              <div class="small-8 columns pull-1">
               <label ng-repeat="voice in voices" ><div class="small-4 columns"><input type="checkbox" id="" ng-model="value3" ng-click="select_statvoice(voice,value3)"><span class="custom checkbox"></span>&nbsp;&nbsp;{{voice.name}}</div></label>
                <p></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="small-3 columns push-1">
                <label>No: of Words</label>
              </div>
              <div class="small-9 columns">
                <input type="text" class="in" id="no_wrd" ng-model="hooktemp.statWords">
              </div>
            </div>
          </div>
          <div class="row">
          <div class="small-12 columns">
            <div class="small-2 columns push-1">
              <label>Delay/Cue</label>
              </div>
              <div class="stwo columns pul">
                <input type="text" class="in" id="delay" ng-model="hooktemp.statCue1">
                

             </div>
            </div>
          </div>
          <div class="row">
          <div class="small-12 columns">
            <div class="small-2 columns push-1">
              <label>Associated Style</label>
              </div>
              <div class="small-8 columns pull-1">
               <label ng-repeat="style in styles" ><div class="small-4 columns"><input type="checkbox" id="" ng-model="value4" ng-click="select_statstyle(style,value4)"><span class="custom checkbox"></span>&nbsp;&nbsp;{{style.name}}</div></label>
              <p></p>
                

             </div>
            </div>
          </div>

            <div class="row">
              <div class="small-12 columns">
                <h6 class="push-1">FREQUENCY DETAILS</h6>
                <div class="small-3 columns push-1">
                  <label>Associated Voices</label>
                </div>
                <div class="small-8 columns pull-1">
                  <label ng-repeat="voice in voices" ><div class="small-4 columns"><input type="checkbox" id="" ng-model="value5" ng-click="select_frevoice(voice,value5)"><span class="custom checkbox"></span>&nbsp;&nbsp;{{voice.name}}</div></label>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="small-12 columns">
            <div class="small-2 columns push-1">
              <label>Delay/Cue</label>
              </div>
              <div class="stwo columns pul">
                <input type="text" class="in" id="delay" ng-model="hooktemp.freCue1">
                

             </div>
            </div>
          </div>
          <div class="row">
          <div class="small-12 columns">
            <div class="small-2 columns push-1">
              <label>Associated Style</label>
              </div>
              <div class="small-8 columns pull-1">
               <label ng-repeat="style in styles" ><div class="small-4 columns"><input type="checkbox" id="" ng-model="value6" ng-click="select_frestyle(style,value6)"><span class="custom checkbox"></span>&nbsp;&nbsp;{{style.name}}</div></label>
              <p></p>
                

             </div>
            </div>
          </div>

              <div class="row">
                <div class="small-12 columns">
                  <h6 class="push-1">POST HOOK DETAILS</h6>
                  <div class="small-3 columns push-1">
                    <label>File Name</label>
                  </div>
                  <div class="small-9 columns">
                   <input type="text" class="in" id="" ng-model="hooktemp.filename2">
                 </div>
               </div>
             </div>
             <div class="row">
                <div class="small-12 columns">
                  <h6 class="push-1">Station Details-Post Hooks</h6>
                  <div class="small-3 columns push-1">
                    <label>Delay/Cue</label>
                  </div>
                  <div class="small-9 columns">
                   <input type="text" class="in" id="dc" ng-model="hooktemp.statCue2">
                 </div>
               </div>
             </div>
            
             <div class="row">
                <div class="small-12 columns">
                  <h6 class="push-1">Frequency Details-post Hooks</h6>
                  <div class="small-3 columns push-1">
                    <label>Delay/Cue</label>
                  </div>
                  <div class="small-9 columns">
                   <input type="text" class="in" id="fd" ng-model="hooktemp.freCue2">
                 </div>
               </div>
             </div>


             <div class="row">
        <button class="button small" ng-click="add(hooktemp)">Add</button>
      </div>
          </fieldset>
        </form>
      </div>

