



  <div class="large-12 columns format">
    <br>
  <h2>Add Hook</h2>
    <form class="custom">
      <fieldset>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Title</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="hook.song">
            </div>
          </div>
        </div>
         <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Filename</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="hook.hook">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Artist</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="hook.artist">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Album Art </label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="hook.album_art">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Select Format</label>
            </div>
            <div class="small-4 columns pull-5">
                <select id="customDropdown" class="in" ng-options="format.name for format in formats" ng-model="hook.format"></select>
             
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Select Category</label>
            </div>
            <div class="small-4 columns pull-5">
                <select id="" class="in" ng-model="hook.category">

                  <option></option>
                  <option>current</option>
                  <option>recurrent</option>
                  <option>gold</option>
                  <option>special</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Normal Length</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="fname" ng-model="hook.length">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">VoiceOver Length</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="fname" ng-model="hook.volength">
            </div>
          </div>
        </div>
         <div class="row">
        <button class="button small" ng-click="add(hook)">Add</button>
      </div>
      </fieldset>
    </form>
  </div>


  