




  <div class="large-12 columns format">
     <br>
  <h2>{{name}}</h2>
    <form class="custom">
      <fieldset>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Select Format</label>
            </div>
            <div class="small-4 columns pull-5">
                <select id="customDropdown" class="in" ng-options="format.name for format in formats" ng-model="sfp.format"></select>
             
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Select Voice</label>
            </div>
            <div class="small-4 columns pull-5">
                <select id="customDropdown" class="in" ng-options="voice.name for voice in voices" ng-model="sfp.voice"></select>
             
            </div>
          </div>
        </div>
        <div class="row">
          <span class="button small" ng-click="update(sfp)">Update</span>
          <span class="button secondary small">Cancel</span>
        </div>
      </fieldset>
    </form>
  </div>


 