




  <div class="large-12 columns format">
    <form class="custom">
      <fieldset>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Select Format</label>
            </div>
            <div class="small-4 columns pull-5">
                <select id="" class="">

                  <option></option>
                  <option>HAC</option>
                  <option>CTY</option>
                  <option>RCK</option>
                  <option>ALT</option>
                  <option>VARITY</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Select Voice</label>
            </div>
            <div class="small-4 columns pull-5">
                <select id="" class="">

                  <option></option>
                  <option>Sam</option>
                  <option>Gary</option>
                  <option>Lisa</option>
                  <option>Steve</option>
                  <option>Mike</option>
                  <option>Alex</option>
                  <option>Sassy</option>
                  <option>Scot</option>

                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <span class="button small">Update</span>
          <span class="button secondary small">Cancel</span>
        </div>
      </fieldset>
    </form>
  </div>


 