



<div class="large-12 columns format">
  <form>
  <fieldset>
   

    <div class="row">
      <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Slogen</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="">
            </div>
          </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Length</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="">
            </div>
          </div>
      </div>
      <div class="row">
        <span class="button small">Add</span>
      </div>
  </fieldset>
</form>
</div>


