

  <div class="large-12 columns format">
    <form class="">
      <fieldset>


        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class=" inline">Template Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="fname">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class=" inline">File Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in radius" type="text" id="fname">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class=" inline">Length</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="fname">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class=" inline">Producer</label>
            </div>
            <div class="small-9 columns">
              <input class="in radius" type="text" id="fname">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class=" inline">Price</label>
            </div>
            <div class="small-9 columns">
              <input class="in radius" type="text" id="fname">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label>Available formates</label>
            </div>
            <div class="stwo columns pul">
              <label for="checkbox1"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspHAC</label>
              <label for="checkbox2"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspCTY</label>
              <label for="checkbox3"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbspRCK</label>
              <label for="checkbox4"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspALT</label>
              <label for="checkbox4"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspVARITYS</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <h6 class="push-1">SLOGAN DETAILS</h6>
            <div class="small-3 columns push-1">
              <label>Associated Voices</label>
            </div>
            <div class="stwo columns pul">
              <label for="checkbox1"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspSam</label>
              <label for="checkbox2"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspGary</label>
              <label for="checkbox3"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbspLisa</label>
              <label for="checkbox4"><input type="checkbox" id=""><span class="custom checkbox"></span>&nbsp&nbspsteve</label>
              <label for="checkbox5"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspmike</label>
              <label for="checkbox6"><input type="checkbox" id=""></input><span class="custom checkbox"></span>&nbsp&nbspAlex</label>
              <label for="checkbox7"><input type="checkbox" id=""></input><span class="custom checkbox"></span>&nbsp&nbspSassy</label>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label>No: of Words</label>
            </div>
            <div class="small-9 columns">
              <input type="text" class="in" id="no_wrd">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="small-2 columns push-1">
              <label>Delay/Cue
                Associated Style</label>
              </div>
              <div class="stwo columns pul">
                <input type="text" class="in" id="delay">
                <label for="checkbox1"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspflangeeq</label>
                <label for="checkbox2"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspbasic</label>
                <label for="checkbox3"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbspflange1</label>
                <label for="checkbox4"><input type="checkbox" id=""><span class="custom checkbox"></span>&nbsp&nbspdelay</label>
                <label for="checkbox5"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspeq</label>
                <label for="checkbox6"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbspDROID</label>
                <label for="checkbox7"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbsp_2flangeeq</label>
                <label for="checkbox8"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbsp_2basic</label>
                <label for="checkbox9"><input type="checkbox" id=""><span class="custom checkbox"></span>&nbsp&nbsp_2flange1</label>
                <label for="checkbox10"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbsp_2delay</label>
                <label for="checkbox11"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbsp_2eq</label>
                <label for="checkbox12"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbsp_2droid</label>
                <p></p>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <h6 class="push-1">STATION DETAILS</h6>
              <div class="small-3 columns push-1">
                <label>Associated Voices</label>
              </div>
              <div class="stwo columns pul">
                <label for="checkbox1"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspSam</label>
                <label for="checkbox2"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspGary</label>
                <label for="checkbox3"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbspLisa</label>
                <label for="checkbox4"><input type="checkbox" id=""><span class="custom checkbox"></span>&nbsp&nbspsteve</label>
                <label for="checkbox5"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspmike</label>
                <label for="checkbox6"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbspAlex</label>
                <label for="checkbox7"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbspSassy</label>
                <p></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="small-3 columns push-1">
                <label>No: of Words</label>
              </div>
              <div class="small-9 columns">
                <input type="text" class="in" id="no_wrd">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="small-2 columns push-1">
                <label>Delay/Cue
                  Associated Style</label>
                </div>
                <div class="stwo columns pul">
                  <input type="text" class="in" id="delay">
                  <label for="checkbox1"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspflangeeq</label>
                  <label for="checkbox2"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspbasic</label>
                  <label for="checkbox3"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbspflange1</label>
                  <label for="checkbox4"><input type="checkbox" id=""><span class="custom checkbox"></span>&nbsp&nbspdelay</label>
                  <label for="checkbox5"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspeq</label>
                  <label for="checkbox6"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbspDROID</label>
                  <label for="checkbox7"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbsp_2flangeeq</label>
                  <label for="checkbox8"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbsp_2basic</label>
                  <label for="checkbox9"><input type="checkbox" id=""><span class="custom checkbox"></span>&nbsp&nbsp_2flange1</label>
                  <label for="checkbox10"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbsp_2delay</label>
                  <label for="checkbox11"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbsp_2eq</label>
                  <label for="checkbox12"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbsp_2droid</label>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <h6 class="push-1">FREQUENCY DETAILS</h6>
                <div class="small-3 columns push-1">
                  <label>Associated Voices</label>
                </div>
                <div class="stwo columns pul">
                  <label for="checkbox1"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspSam</label>
                  <label for="checkbox2"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspGary</label>
                  <label for="checkbox3"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbspLisa</label>
                  <label for="checkbox4"><input type="checkbox" id=""><span class="custom checkbox"></span>&nbsp&nbspsteve</label>
                  <label for="checkbox5"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspmike</label>
                  <label for="checkbox6"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbspAlex</label>
                  <label for="checkbox7"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbspSassy</label>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <div class="small-2 columns push-1">
                  <label>Delay/Cue
                    Associated Style</label>
                  </div>
                  <div class="stwo columns pul">
                    <input type="text" class="in" id="delay">
                    <label for="checkbox1"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspflangeeq</label>
                    <label for="checkbox2"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspbasic</label>
                    <label for="checkbox3"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbspflange1</label>
                    <label for="checkbox4"><input type="checkbox" id=""><span class="custom checkbox"></span>&nbsp&nbspdelay</label>
                    <label for="checkbox5"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbspeq</label>
                    <label for="checkbox6"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbspDROID</label>
                    <label for="checkbox7"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbsp_2flangeeq</label>
                    <label for="checkbox8"><input type="checkbox"  id="" ><span class="custom checkbox"></span>&nbsp&nbsp_2basic</label>
                    <label for="checkbox9"><input type="checkbox" id=""><span class="custom checkbox"></span>&nbsp&nbsp_2flange1</label>
                    <label for="checkbox10"><input type="checkbox" id="" ><span class="custom checkbox"></span>&nbsp&nbsp_2delay</label>
                    <label for="checkbox11"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbsp_2eq</label>
                    <label for="checkbox12"><input type="checkbox" id=""><span class="custom checkbox"></span></input>&nbsp&nbsp_2droid</label>
                    <p></p>
                  </div>
                </div>
              </div>

              <div class="row">
                <span class="button small push-5">Add</span>
              </div>
            </fieldset>
          </form>
        </div>


       