<div class="large-12 columns format">
  <form class="">
    <fieldset>


      <div class="row">
        <div class="small-12 columns">
          <h3>Add new Affiliate here</h3>
          <h6>User Information</h6>
          <div class="small-2 columns push-1">
            <label class=" inline">Username</label>
          </div>
          <div class="small-4 columns">
            <input  type="text" id="" ng-model="user.username">
          </div>
          <div class="small-2 columns push-1">
            <label class="inline">Password</label>
          </div>
          <div class="small-4 columns">
            <input  type="text" id="fname" ng-model="user.password">
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="small-12 columns">
          <div class="small-3 columns push-1">
            <label class=" inline">Email</label>
          </div>
          <div class="small-9 columns pull-1">
            <input  type="text" id="fname" style="width:53em" ng-model="user.email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns"> 
          <h6>Affiliate User Data</h6>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns"> 
          <div class="small-2 columns push-1">
            <label class=" inline">Group</label>
          </div>
          <div class="small-2 columns">
            <select id="customDropdown"  ng-options="group as group for group in groups" ng-model="user.groups"></select>
          </div>
          <div class="small-2 columns push-1">
            <label class=" inline">Slogan</label>
          </div>
          <div class="small-2 columns">
            <select id="customDropdown"  ng-options="slogan as slogan for slogan in slogans" ng-model="user.affiliate.slogan"></select>
         </div>
         <div class="small-2 columns push-1">
          <label class=" inline">Station</label>
        </div>
        <div class="small-2 columns ">
          <select id="customDropdown"  ng-options="station as station for station in stations" ng-model="user.affiliate.station"></select>
       </div>

     </div>
   </div>



   <div class="row">
    <div class="small-12 columns"> 
      <div class="small-3 columns push-1">
        <label class=" inline">Frequency</label>
      </div>
      <div class="small-2 columns pull-1">
        <select id="customDropdown"  ng-options="frequency as frequency for frequency in frequencies" ng-model="user.affiliate.frequency"></select>
     </div>
     <div class="small-2 columns">
      <label class="inline">No Of Free Tracks</label>
    </div>
    <div class="small-5 columns">
      <input type="text" id="fname" ng-model="user.affiliate.remaining">
    </div>
  

</div>
<div class="row">
        <button class="button small" ng-click="add(user)">Add</button>
      </div>
</fieldset>
</form>
</div>



