<div class="large-12 columns format">
  <form class="">
    <fieldset>


      <div class="row">
        <div class="small-12 columns">
          <h3>Add new Affiliate here</h3>
          <h6>User Information</h6>
          <div class="small-2 columns push-1">
            <label class=" inline">Username</label>
          </div>
          <div class="small-4 columns">
            <input  type="text" id="">
          </div>
          <div class="small-2 columns push-1">
            <label class="inline">Password</label>
          </div>
          <div class="small-4 columns">
            <input  type="text" id="fname">
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="small-12 columns">
          <div class="small-3 columns push-1">
            <label class=" inline">Email</label>
          </div>
          <div class="small-9 columns pull-1">
            <input  type="text" id="fname" style="width:53em" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns"> 
          <h6>Affiliate User Data</h6>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns"> 
          <div class="small-2 columns push-1">
            <label class=" inline">Group</label>
          </div>
          <div class="small-2 columns">
            <select id="" class="">
              <option></option>
              <option>Jam</option>
              <option>Sam</option>
              <option>Hcountry</option>   
            </select>
          </div>
          <div class="small-2 columns push-1">
            <label class=" inline">Slogan</label>
          </div>
          <div class="small-2 columns">
            <select name="slogan" id="">
             <option></option>
             <option value="a country tradition">a country tradition</option>  

             <option value="all american country">all american country</option>  

             <option value="all new alternative">all new alternative</option>  

             <option value="all new rock">all new rock</option>  

             <option value="all the best country">all the best country</option>  

             <option value="americas best country">americas best country</option> 

           </select>
         </div>
         <div class="small-2 columns push-1">
          <label class=" inline">Station</label>
        </div>
        <div class="small-2 columns ">
          <select name="station" id="">
           <option></option>
           <option value="alice">alice</option>  

           <option value="alice at">alice at</option>  

           <option value="alternative">alternative</option>  

           <option value="b">b</option>  

           <option value="bay fm">bay fm</option>

         </select>
       </div>

     </div>
   </div>



   <div class="row">
    <div class="small-12 columns"> 
      <div class="small-3 columns push-1">
        <label class=" inline">Frequency</label>
      </div>
      <div class="small-2 columns pull-1">
        <select name="frequency" id="">
         <option></option>
         <option value="88.1">88.1</option>  

         <option value="88-1">88-1</option>  

         <option value="88.3">88.3</option>  

         <option value="88-3">88-3</option>  

         <option value="88.5">88.5</option>  

         <option value="88-5">88-5</option>  

         <option value="88.7">88.7</option>  

         <option value="88-7">88-7</option>  

         <option value="88.9">88.9</option>  

         <option value="88-9">88-9</option>  

         <option value="89">89</option>  
       </select>
     </div>
     <div class="small-2 columns">
      <label class="inline">No Of Free Tracks</label>
    </div>
    <div class="small-5 columns">
      <input type="text" id="fname">
    </div>
  

</div>
</div>

<span type="submit" class="button small push-5">Submit</span>
</div>
</fieldset>
</form>
</div>



