



<div class="large-12 columns voice">
  <br>
  <h2>Add Voice</h2>
  <form>
  <fieldset>
   
    
    <div class="row">
      <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Voice Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="fname" ng-model="voice.name">
            </div>
          </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Description</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="fname" ng-model="voice.description">
            </div>
          </div>
      </div>
      <div class="row">
        <button class="button small" ng-click="add(voice)">Add</button>
      </div>
  </fieldset>
</form>
</div>


