.vcard{
    cursor: pointer;
}
.final_hostel_details h3 span{
    color:grey;
}
.final_hostel_details table{
    table-layout: fixed;
}
.final_hostel_details table td{
    width: 300px;
}
.hor_hostel{
  width: 800px !important;
}
.hostel_horizontal{
    width: 100px !important;
}
.room_edit {
    margin-right: 1.1%;
    width: 32.2%;
}
.rooms .panel{
    background: white;
    border: 3px solid #d9d9d9;
}
.rooms table{
    table-layout: fixed;
    width: 450px;
}
.rooms table .name{
    width:200px;
}

.rooms table .ad_no{
    width:100px;
}
.editHostel .occ {
    margin-left: 5em !important;
}
.editHostel .occ p {
    margin-left: -2em !important;
}