<div>
<div class="row">
    <h1>Coupons</h1>
    <hr>
   <div class="row collapse">
            <div class="small-3 large-2 columns">
                <span class="prefix">Quick Search</span>
            </div>
            <div class="small-9 large-10 columns">
                <input type="text" ng-model="filterCoupons" placeholder="enter coupon code to search for     ">
            </div>
        </div>

    

    <div class="row">
        <table class="large-12 columns">
            <thead>
            <tr>
                <th>Code</th>
                <th>Remaining User</th>
                <th>Max Tracks</th>
                
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="coupon in coupons | filter:filteroupons |limitTo:10">
                <td>{{coupon.code}}</td>
                <td>{{coupon.remaininguses}}</td>
                <td>{{coupon.maxtracks}}</td>
                
                <td><span class="button tiny" ng-click="edit(coupon._id)">Edit</span></td>
            </tr>
            </tbody>
        </table>
    </div>

<div id="editcoupon" class="reveal-modal">
<div class="large-12 columns format">
  <br>
  <h2>Edit Coupon</h2>
  <form>
  <fieldset>
   

    <div class="row">
      <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Code</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="editcoupon.code">
            </div>
          </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Remaining User</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="editcoupon.remaininguses">
            </div>
          </div>
      </div>
      <div class="row">
      <div class="small-12 columns">
            <div class="small-3 columns">
              <label class="inline">Max Tracks</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="" ng-model="editcoupon.maxtracks">
            </div>
          </div>
      </div>
      <div class="row">
        <button class="button small" ng-click="save(editcoupon)" type="submit">Add</button>
      </div>
  </fieldset>
</form>
</div>
<a class="close-reveal-modal">&#215;</a>
</div>


