<div>
<div class="row">
    <h1>Groups</h1>
    <hr>
   <div class="row collapse">
            <div class="small-3 large-2 columns">
                <span class="prefix">Quick Search</span>
            </div>
            <div class="small-9 large-10 columns">
                <input type="text" ng-model="filtergroup" placeholder="enter group name to search for     ">
            </div>
        </div>

    

    <div class="row">
        <table class="large-12 columns">
            <thead>
            <tr>
                <th>Name</th>
                
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in groups | filter:filtergroup">
                <td>{{group.name}}</td>
                
                
                <td><span class="button tiny" ng-click="edit(group._id)">Edit</span></td>
                <td><span class="button tiny" ng-click="delete(group._id)">Delete</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




<div id="editgroup" class="reveal-modal">
 <div class="large-12 columns format">
    <br>
  <h2>Edit Group</h2>
    <form>
      <fieldset>


        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">Name</label>
            </div>
            <div class="small-9 columns">
              <input class="in" type="text" id="iname" ng-model="editgroup.name">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="small-3 columns push-1">
              <label class="inline">Select Format</label>
            </div>
           <div class="small-4 columns pull-5">
                <select id="customDropdown" class="in" ng-options="format.name for format in formats" ng-model="editgroup.format"></select>
             
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            
            <div class="small-3 columns push-1">
              <label>Associated Voices</label>
            </div>
            <div class="small-8 columns pull-1">
                <label ng-repeat="voice in voices" ><div class="small-4 columns"><input type="checkbox" id="" ng-model="value" ng-click="select_voice(voice,value)" ng-checked="editgroup.voices.indexOf(voice.name) > -1"><span class="custom checkbox"></span>&nbsp;&nbsp;{{voice.name}}</div></label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            
            <div class="small-3 columns push-1">
              <label>Associated Templates</label>
            </div>
            <div class="small-8 columns pull-1">
                <label ng-repeat="template in templates" ><div class="small-4 columns"><input type="checkbox" id="" ng-model="value1" ng-click="select_template(template,value1)" ng-checked="editgroup.templates.indexOf(template._id) > -1"><span class="custom checkbox"></span>&nbsp;&nbsp;{{template.name}}</div></label>
            </div>
          </div>
        </div>
         <div class="row">
        <button class="button small" ng-click="save(editgroup)">Done</button>
      </div>
      </fieldset>
    </form>
  </div>
<a class="close-reveal-modal">&#215;</a>
</div>